[submodule "Retrieval-Grounded-Credit-Assignment-for-Generative-Recommendation"]
	path = Retrieval-Grounded-Credit-Assignment-for-Generative-Recommendation
	url = https://github.com/YuFan-Microsoft/Retrieval-Grounded-Credit-Assignment-for-Generative-Recommendation.git
